<div class="jumbotrom py-2 row">
  <h1 class="display-4 text-center">Achievement Form</h1>
</div>
<div class="col-12 row justify-content-around" *ngIf="service.authService.isAuth">
  <div class="col-3 row" *ngIf="service.authService.userRoles.includes('Admin') || service.authService.userRoles.includes('Manager')">
    <app-achievement-form></app-achievement-form>
  </div>
  <div class="col-9 row">
    <div class="col-12 row">
      <app-achievement-options-form></app-achievement-options-form>
    </div>
    <div class="col-12 row align-self-start text-center" *ngIf="service.fields != ''">
      <h1 class="col-1 row justify-content-end"><i class="fas fa-edit text-primary"></i></h1>
      <h2 class="col-9 row justify-content-start" *ngIf="service.authService.isAuth">To edit achievement click on it in table!</h2>
      <table class="table ">
        <thead>
          <tr>
            <th *ngIf="service.fields.includes('name')">Name</th>
            <th *ngIf="service.fields.includes('description')">Description</th>
            <th *ngIf="service.fields.includes('condition')">Condition</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of service.list">
            <td *ngIf="service.fields.includes('name')" style="cursor: pointer" (click)="populateForm(row)">{{row.name}}</td>
            <td *ngIf="service.fields.includes('description')" style="cursor: pointer" (click)="populateForm(row)">{{row.description}}</td>
            <td *ngIf="service.fields.includes('condition')" style="cursor: pointer" (click)="populateForm(row)">{{row.condition}}</td>
            <td *ngIf="service.authService.userRoles.includes('Admin') || service.authService.userRoles.includes('Manager')">
              <i class="far fa-trash-alt fa-lg text-danger" style="cursor: pointer" title="Delete" (click)="onDelete(row.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
