<div class="jumbotrom py-2 row">
  <h1 class="display-4 text-center">Role Form</h1>
</div>
<div class="col-4 row">
  <div class="col-3 row">
    <input class="form-control" type="number" min="1" max="10000" step="1" placeholder="Count" (keyup)="changeToAddCount($event)" />
  </div>
  <div class="col-1 row"><label></label></div>
  <button class="btn btn-primary col-3 row justify-content-start" [disabled]="toAddCount == 0" (click)="seedData()">Seed Data</button>
</div>
<div class="col-12 row justify-content-around">
  <div class="col-3 row">
    <app-role-form></app-role-form>
  </div>
  <div class="col-9 row">
    <div class="col-12 row align-self-start text-center">
      <h1 class="col-1 row justify-content-end"><i class="fas fa-edit text-primary"></i></h1>
      <h2 class="col-9 row justify-content-start">To edit role click on it in table!</h2>
      <table class="table ">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of service.list">
            <td style="cursor: pointer" (click)="populateForm(row)">{{row.id}}</td>
            <td style="cursor: pointer" (click)="populateForm(row)">{{row.name}}</td>
            <td>
              <i class="far fa-trash-alt fa-lg text-danger" style="cursor: pointer" title="Delete" (click)="onDelete(row.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
