<div class="jumbotrom py-2 row">
  <h1 class="display-4 text-center">Genre Form</h1>
</div>
<div class="col-4 row" *ngIf="service.authService.userRoles.includes('Admin') || service.authService.userRoles.includes('Manager')">
  <div class="col-3 row">
    <input class="form-control" type="number" min="1" max="10000" step="1" placeholder="Count" (keyup)="changeToAddCount($event)" />
  </div>
  <div class="col-1 row"><label></label></div>
  <button class="btn btn-primary col-3 row justify-content-start" [disabled]="toAddCount == 0" (click)="seedData()">Seed Data</button>
</div>
<div class="col-12 row justify-content-around" *ngIf="service.authService.isAuth">
  <div class="col-3 row" *ngIf="service.authService.userRoles.includes('Admin') || service.authService.userRoles.includes('Manager')">
    <app-genre-form></app-genre-form>
  </div>
  <div class="col-9 row">
    <div class="col-12 row">
      <app-genre-options-form></app-genre-options-form>
    </div>
    <div class="col-12 row align-self-start text-center" *ngIf="service.fields != ''">
      <h1 class="col-1 row justify-content-end" *ngIf="service.authService.userRoles.includes('Admin') || service.authService.userRoles.includes('Manager')"><i class="fas fa-edit text-primary"></i></h1>
      <h2 class="col-9 row justify-content-start" *ngIf="service.authService.userRoles.includes('Admin') || service.authService.userRoles.includes('Manager')">To edit genre click on it!</h2>
      <div class="card-columns col-12 row justify-content-around">
        <div class="card mt-1 mx-0 col-3 row" *ngFor="let row of service.list">
          <div class="card-body">
            <h2 class="card-title row" *ngIf="service.fields.includes('name')" style="cursor: pointer" (click)="populateForm(row)">{{row.name}}</h2>
            <p class="card-text row" *ngIf="service.fields.includes('description')" style="cursor: pointer" (click)="populateForm(row)">{{row.description}}</p>
            <div class="col-12 row">
              <div class="col-6 row" *ngIf="service.authService.userRoles.includes('Admin') || service.authService.userRoles.includes('Manager')">
                <i class="far fa-trash-alt fa-lg text-danger" style="cursor: pointer" title="Delete" (click)="onDelete(row.id)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
