<div class="col-12 row justify-content-between" *ngIf="authService.isAuth">
  <nav class="col-7 row justify-content-around">
    <div class="col-4 row justify-content-around">
      <a class="btn btn-primary col-3 row" routerLink="">Games</a>
      <a class="btn btn-primary col-3 row" routerLink="genres">Genres</a>
      <a class="btn btn-primary col-3 row" routerLink="users" *ngIf="authService.userRoles.includes('Admin')">Users</a>
      <a class="btn btn-primary col-3 row" routerLink="roles" *ngIf="authService.userRoles.includes('Admin')">Roles</a>
    </div>
  </nav>
  <div class="col-3 row justify-content-right" *ngIf="authService.isAuth">
    <h2 class="text-primary col-8 text-end">Hello: {{authService.userName}}</h2>
    <button class="btn btn-primary col-4" (click)="authService.logout()">Logout</button>
  </div>
</div>
<div class="col-11 row mx-auto">
  <div *ngIf="authService.isAuth"><router-outlet></router-outlet></div>
  <div *ngIf="!authService.isAuth"><app-authorization></app-authorization></div>
</div>
