<form novalidate #form="ngForm" (submit)="onSubmit(form)">
  <input class="form-control form-control-lg" hidden
         name="id" #id="ngModel" [(ngModel)]="service.formData.id" />
  <h2>Create new role</h2>
  <div class="col-12 row" *ngIf="service.errors.length != 0">
    <label class="text-danger">There are some errors:</label>
    <label class="text-danger" *ngFor="let error of service.errors">{{error}}</label>
  </div>
  <div class="form row">
    <div class="form-group row">
      <label>Name</label>
      <input class="form-control form-control-lg" placeholder="Name"
             name="name" #name="ngModel" [(ngModel)]="service.formData.name" required />
    </div>
    <div class="form-group row justify-content-around">
      <div class="col-5 row align-self-start">
        <label>``</label>
        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="form.invalid">Submit</button>
        <button class="btn btn-primary btn-lg btn-block mt-1" type="button" *ngIf="service.formData.id != ''" (click)="service.formData.id = ''; service.isCreate = true">New</button>
      </div>
    </div>
  </div>
</form>
